<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dataservicios.ttauditbayerpost">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The following two permissions are not required to use

         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- PERMISO PARA HACER LLAMADA DESDE LA APP A UN PHONO -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_agente"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="dataservicios.com.ttauditbayer.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapaRuta"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="dataservicios.com.ttauditbayer.MAPARUTAS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PanelAdmin"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="dataservicios.com.ttauditbayer.PANELADMIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PuntosVenta"
            android:label="PDVs del día"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="dataservicios.com.ttauditbayer.PUNTOSVENTA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetallePdv"
            android:label="Detalle PDV"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="dataservicios.com.ttauditbayer.DETALLEPDV" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditoriaBayer.Product"
            android:label="Presencia de Producto"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="dataservicios.com.ttauditbayer.AUDITORIAPRODUCTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditoriaBayer.BayerPoll"
            android:label="Presencia de Material Publicitario"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="dataservicios.com.ttauditbayer.BAYERPOLL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditoriaBayer.BayerOpenClose"
            android:label="Presencia de Material Publicitario"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="dataservicios.com.ttauditbayer.BAYEROPEMCLOSE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Premiacion"
            android:label="Presencia de Material Publicitario"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="dataservicios.com.ttauditbayer.PREMIACION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PremiacionFoto"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AndroidCustomGalleryActivity"
            android:label="Galeria de Agente"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="com.dataservicios.redagenteglobalapp.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditoriaBayer.Exhibicion"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="com.dataservicios.redagenteglobalapp.Exhibicion" />

                <category android:name="android.intent.category.EXHIBICION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditoriaBayer.Apronax"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="com.dataservicios.redagenteglobalapp.Apronax" />

                <category android:name="android.intent.category.APRONAX" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditoriaBayer.Aspirina"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="com.dataservicios.redagenteglobalapp.Aspirina" />

                <category android:name="android.intent.category.ASPIRINA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditoriaBayer.AspirinaQuinientos"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.Redoxon"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="com.dataservicios.redagenteglobalapp.Redexon" />

                <category android:name="android.intent.category.REDOXON" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditoriaBayer.Berocca"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="com.dataservicios.redagenteglobalapp.Berocca" />

                <category android:name="android.intent.category.BEROCCA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditoriaBayer.BeroccaSupradyn"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.Gynocanesten"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="com.dataservicios.redagenteglobalapp.Gynocanesten" />

                <category android:name="android.intent.category.GYNOCANESTEN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditoriaBayer.Canesten"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="com.dataservicios.redagenteglobalapp.Canesten" />

                <category android:name="android.intent.category.GYNOCANESTEN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditoriaBayer.Bepanthen"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.Supradyn"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="com.dataservicios.redagenteglobalapp.Supradyn" />

                <category android:name="android.intent.category.SUPRADYN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditoriaBayer.SupradynPronatal"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.Precio"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.DosisRecomendacion"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.Apronax275"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.AspirinaForte"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.MaterialPromocional"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.Laboratorio"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.VariableImportante"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".EditStore"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.EncuestaRepLegalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.EncuestaDiasInformacionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.EncuestaHorarioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.EncuestaRecibirInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.EncuestaSugerenciaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Key api Google Mode RELEASE -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBK2tzzA4iaCQUeMqoQ1hkVLS8bvy_1X6Y" />

        <!-- Key api Google Mode DEBUG -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="AIzaSyBK2tzzA4iaCQUeMqoQ1hkVLS8bvy_1X6Y" /> -->

        <service
            android:name=".Services.UploadService"
            android:label="UploadServices" />
        <service
            android:name=".Services.UpdateServices"
            android:label="UpateServices" />
        <service
            android:name=".Services.MonitoGPSServices"
            android:label="MonitoGPSServices" />

        <activity
            android:name=".AuditoriaBayer.TieneApronaxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.CambiarApronaxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.MarcaCambiarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.TieneCanestenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.PorqueNoTieneCanesteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.TieneNaproxenoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.CuantoCompraNaproxenoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.CuantaPastillaBlisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.PrecioPastillaBlisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.ConsumidorProductosIncentivadosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity
            android:name=".AuditoriaBayer.IntentaProductosIncentivadosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel" />
        <activity android:name=".AuditoriaBayer.NoDolocordralanActivity" android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"/>
        <activity android:name=".AuditoriaBayer.DoloneurobionPromocionActivity" android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"/>
        <activity android:name=".AuditoriaBayer.DoloneurobionActividadesActivity" android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"/>
        <activity android:name=".AuditoriaBayer.DoloneurobionVisitaActivity" android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dataservicios.ttauditbayerpost.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>